*.orig
*creator.user*
*.user
*.o
*.pdb
moc_*
rpi2iec
*.html
*.htm
*.D64
*.d64
ui_*.h
object_script.*
release/
debug/
Makefile*
*pro.user*
qrc_resources.cpp

# the simulation output file in debug mode.
received.txt

/rpi2iec_plugin_import.cpp

simulated.prg

